/* 
    Box modal
        1- border-box
        2- content-box
*/
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Grey+Qo&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.box-model {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 30px;
    outline: 12px solid black;
    outline-offset: 10px;
    border: 12px solid blue;
}

#p1 {
    background-color: #003ff8;
    color: goldenrod;
    font-family: "Grey Qo",sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text{

    max-width: 1000px;
    padding: 20px;
    border: 2px solid black;
    margin: 10px auto;    
}

.heading{
    color: #04aa6d;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 4px;
    font-size: 15px;
    letter-spacing: 3px;
    text-indent: 50px;
    line-height: 22px;
    text-align: justify;
}

.try{
    color: #008cba;
    /* text-decoration: underline blue double 2px; */
}

.text-properties{
    text-align: center;
    line-height: 20px;
    direction: rtl;
    vertical-align: bottom;
}