*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.parent{
    background-color: lightskyblue;
    margin: 20px;
    width: 1400px;
    height: 700px;
    position: relative;
}

.child1{
    background-color: lightgreen;
    width: 150px;
    height: 150px;
}

.child2{
    background-color: lightpink;
    width: 150px;
    height: 150px;
}
.child3{
    background-color: lightyellow;
    width: 150px;
    height: 150px;
}

.child4{
    background-color: lightblue;
    width: 150px;
    height: 150px;
}

.relative{
    position: relative;
    top: 20px;
    left: 30px;
}

.absolute{
    position: absolute;
    top: 50PX;
    left:   50px;
}

.fixed{
    position: fixed;
    top: 100px;
    left: 100px;
}

.sticky{
    position: sticky;
    top: 20px;
}

body{
    background-color: rgb(114, 89, 89);
}

.flex{
    display: flex;
    justify-content: space-between;

    background-color: goldenrod;
}