* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    scrollbar-width: none;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    height: 100vh;
}

.card {
    width: 300px;
    border: 2px solid rgba(26, 25, 25, 0.452);
    overflow: hidden;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a,
p,
h1 {
    margin: 0px 10px;
}

h1 {
    font-weight: bolder;
}

a {
    padding: 10px 20px;
    background-color: rgba(47, 47, 233, 0.945);
    color: white;
    border-radius: 6px;
    margin-bottom: 10px;
    width: fit-content;
    text-decoration: none;
}

a:hover {
    background-color: rgb(109, 93, 255);

}


.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}